<html ng-app='app3'>
	<body ng-controller="mainCtrl">
		<input type="text" placeholder="Filter Results" ng-model="filterValue">
		<div class="personCard" ng-repeat="person in data | filter: filterValue">
			<h2>{{person.name}}</h2>
			<hr>
			<h3>{{person.email}}</h3>
			<h3>{{person.phone}}</h3>
			<h4>Hired: {{person.dateEmployed}}</h4>
			<!-- <hr> -->
			<br>
		</div>
				<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
	</body>
</html>
